/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e02c6d;
  --secondary-color: #3a3a3a;
  --fill-color: #fb8200;

  --text-dark-400: rgba(0, 0, 0, 0.87);
  --text-dark-500: #18191f;
  --text-dark-700: #5e6366;
  --text-gray-700: #787885;

  --featured-dark-700: #0a0826;
  --featured-gray-700: #6c6c6c;

  --white: #ffffff;
  --white-gray: #d9dbe1;
  --primary-light: #e02c6dde;
}

/* uni shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;

  font-feature-settings: "liga" off, "clig" off;
  font-family: "Poppins", serif;
  font-style: normal;
  border: 1px solid green;
}

/* navbar style starts here */

.nav-bar-container,
.nav-link-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.nav-bar-container {
  justify-content: space-between;
  margin: 87px 0 50px;
  padding: 0 120px;
  /* border: 1px solid green; */
}

.nav-link-container {
  gap: 34px;
  /* border: 1px solid green; */
}

.nav-logo {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 700;
  /* border: 1px solid red; */
}

.nav-link {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  /* border: 1px solid red; */
}

.nav-menu,
.nav-cart {
  display: none;
  /* border: 1px solid red; */
}

nav .fa-solid {
  color: var(--secondary-color);
  /* border: 1px solid red; */
}

.fa-bars,
.fa-magnifying-glass {
  font-size: 1.5rem;
}

.fa-cart-shopping {
  font-size: 2.125rem;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  /* nav responsive */

  .nav-bar-container {
    margin: 35px 0 22px;
    padding: 0 16px;
  }

  .nav-link-container {
    display: none;
  }

  .nav-logo {
    font-size: 1rem;
  }

  .nav-cart,
  .nav-menu {
    display: block;
  }

  .fa-cart-shopping {
    font-size: 1.5rem;
  }
}
